<!DOCTYPE html>
<html>
  <head>
    <title>StarterApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="..." />
    <link rel="stylesheet" href="/stylesheets/application.css" />
  </head>

  <body>
  <% places = ["Mexico City", "Charleston", "Beijing", "Amsterdam"] %>
    <h1>Places I've Been</h1>
    <p>
  <% for place in places %>
    <p><%= place %></p>
  <% end %>
    </p>
    <p>New Place</p>
  </body>
