<!--<h1>Places I've Been</h1>
 
 <ul>
   <% for place in @places %>
    <li>
     <%= place["name"] %>
    </li>
   <% end %>
</ul>

<p><a href="/places/new">New Place</a></p>
-->
<h1> Places</h1>
<ul>
    <%for place in @places %>
        <p>
        <a href="/places/<%= place["id"] %>"><%= place["name"]%></a>
        </p>
    <% end %>
</ul>
<p><a href="/places/new">Create a new place</a></p>